*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/mdk-kotlin/src/androidMain/cpp/mdk-sdk/
/mdk-kotlin/src/androidMain/cpp/mdk-sdk-android.7z
/iosApp/Pods/
/iosApp/Podfile.lock
